combat
django==4.2
goatools
harmony-pytorch
harmonypy
hdbscan
leidenalg
pandas
plotly
scanpy
scikit-learn
matplotlib
umap-learn
bs4
celery
redis
django_cleanup
kaleido
threadpoolctl
rnanorm
django-simple-captcha
sica.base
sicaomics.annotate
