{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="bg"></div>
<div class="container">
  <div class="welcome-text">
      <h1 class="welcome-message">Welcome to RNAcare!</h1>
      <h1 class="welcome-message">On this webserver you can generate an account for free</h1>
      <h1 class="welcome-message">(select a username and a password) to log into the system</h1>
      <h1 class="welcome-message">and start querying clinical data.</h1>
      <h1 class="welcome-message">If you have an account, please sign in.</h1>
  </div>
    <!-- Login Section -->
    <div class="login-form">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Log In</button>
            <input type="button" class="btn btn-primary" style="width:100px;" onclick="location.href='/accounts/signup/'" value="Sign Up" />
        </form>
    </div>
</div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-content">
            <a href="http://gla.ac.uk/schools/infectionimmunity/">
                <img class="logo" src="/static/logo.png" alt="Logo">
            </a>
            <div class="footer-links">
                <a href="http://www.gla.ac.uk/legal/">Terms and Conditions</a> | 
                <a href="http://www.gla.ac.uk/legal/privacy/">Privacy Policy</a>
                <ul>
                    <li><b>This web server is free and open to all users.</b><a href="https://github.com/sii-scRNA-Seq/RNAcare/">GitHub</a></a></li>
                    <li>RNAcare is first developed in 2025 by the<a href="https://www.gla.ac.uk/schools/infectionimmunity/staff/thomasdanotto/">biottofni group</a> at the University of Glasgow.</li>
                </ul>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
  const messages = $('.welcome-message');
  let currentIndex = 0;

  // Show first message
  $(messages[currentIndex]).addClass('active');

  // Rotate messages every 3 seconds
  setInterval(function() {
    $(messages[currentIndex]).removeClass('active');
    currentIndex = (currentIndex + 1) % messages.length;
    $(messages[currentIndex]).addClass('active');
    }, 3000);
  });
</script>
{% endblock %}
