<!DOCTYPE html>
{% load static %}
<html>
<head>
<style>
th,td{
padding:15px;
}
.table-condensed{
font-size: 10px;
}
.question{
max-width: 0.8%;
width:auto;
display: inline-block;
}
.ui-tooltip-content{
font-size:15px;
}
div.ui-tooltip{
max-width:800px;
max-height:800px;
}
.question{
content:url('/static/questionMark.png');
}
</style>
<title>RNA-CARE: RNA-based Clinical Analysis and Research Engine</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'wheelzoom.js'%}"></script>
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>
<link href = "https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel = "stylesheet">
<script src = "https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link href="{% static 'multi-select.css'%}"  media="screen" rel="stylesheet" type="text/css">
<link href="{% static 'asAccordion.min.css'%}"  media="screen" rel="stylesheet" type="text/css">
<script src="{% static 'jquery.multi-select.js'%}"></script>
<script src="{% static 'jquery-asAccordion.min.js'%}"></script>
</head>
<body>
<div class="container">
<div class="row">
<table>
    <tr>
        <td>
            <h3 class="text-primary">RNA-CARE: RNA-based Clinical Analysis and Research Engine</h3>
        </td>
        <td>

            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type='submit' class="btn btn-primary">Log Out</button></form>
            {% endif %}
        </td>
    </tr>
</table>
<br>
<hr style="border-top:1px dotted #ccc;" />
{% block body %}
{% endblock %}
</div>
</div>
<br>
<br>
<div style="width:40%; margin:auto; color:#808080;">author:mingcan tang | Immunology & Infection</div>
<br />
</body>
</html>
