<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tooltip - Custom content</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .photo {
    width: 300px;
    text-align: center;
  }
  .photo .ui-widget-header {
    margin: 1em 0;
  }
  .map {
    width: 350px;
    height: 350px;
  }
  .ui-tooltip {
    max-width: 350px;
  }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( '#abc' ).tooltip({
      content: function() {
        return '<img class="map" />';
      },
      open: function( event, ui ) {
        var img = ui.tooltip.find('img');
        img.attr('src', 'https://upload.wikimedia.org/wikipedia/commons/9/91/Wien_Stefansdom_DSC02656.JPG');
      },
      close: function( event, ui ) {
        ui.tooltip.remove();
      }
    });
  } );
  </script>
</head>
<body>
 
<a id="abc" href="#" title="">12313</a>

</body>
</html>

